<?xml version="1.0" encoding="utf-8"?>

<!--由於安卓說android:parentActivityName只支援Api 21 以上的環境，所以只好設定targetApi來限定此屬性只套用到21的環境。使用 tools:targetApi 属性可以忽视版本的警告-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.miwokWithFragment"
    tools:targetApi="21">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.android.miwok.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>